@media only screen and (min-device-width: 320px) 
  and (max-device-width: 736px){
  	header .input-group{
  		right: 0;
  		width: 125%;
  		top: 30px;
  	}
  	header .input-group input {
    width: 100%;
    height: 44px;
	}
	.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    height: 44px;
	}
  	header .button {
    	top: 20px;
    	left: 77%;
   		font-size: 30px;
	}
  	section{
  		height: 2000px;
  	}
	section #main{
		top: 100px;
		width: 92%;
    	left: 40px;
		height: 1550px;
	}
	.carousel{
		top: 100px;
	}
	#nav{
		top: 1245px;
	}
	.carousel-indicators {
    	bottom: -10px;
	}
	.carousel-indicators .active {
  		background-color: #ffab60;
	}
	.leftC, .rightC{
		background-color: #f4b350;
		height: 1450px;
		width: 79%;
		left: 4%;
		margin: 4% 3%;
	}
	.nothing{
		height: 550px;
	}
	.biblioteca{
		height: 1025px;
	}
	.gFacility, .fFacility, .sFacility, .fCornerRoom, .sCornerRoom{
		height: 250px;
	}
	.empty{
		height: 150px;
	}
	.rampa, .gSalinha, .fSalinha, .sSalinha{
		height: 190px;
	}
	.gRoom, .room, .fRoom, .sRoom {
		height: 114px;
	}
	.fCRoom {
		height: 205px;
	}
	.sCRoom {
		height: 256px;
	}
	.sRoom6, .lab {
		height: 171px;
	}
	.fRoom8 {
		height: 128.5px;
	}
	p{
		font-size: 23px;
	}
	.sRoom5 {
    height: 205px;
	}
	.pagination-lg>li>a{
		font-size: 45px;
		width: 65px;
	}
} 