body{
	background-color: #3498DB;
}
header .container{
	width: 100%;
}
header h1{
	font-size: 50px;
	color: #E4F1FE;
	position: relative;
	left: 45px;
	text-align: left;
	font-weight: bold;
}
header{
	height: 100px;
	background-color: #3498DB;
}
header a:hover{
	text-decoration: none;
}
ul{
	list-style-type: none;
	display: inline-block;
}
#login{
	position: relative;
    top: 25px;
    right: 5px;
    font-size: 18px;
    color: #E4F1FE;
}

header .input-group {
    text-align: center;
    position: relative;
    top: 35px;
    
}
header .input-group input {
	width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding-left: 5px;
}
header .button{
	text-align: right;
    position: relative;
    top: 35px;
    left: 75%;
    background: transparent;
    border: none;
    color: white;
}
section{
	height: 1000px;
	position: relative;
	background-color: #59abe3;
}

section #main{
	background-color: #ecf0f1;
	width: 90%;
	height: 920px;
	position: absolute;
	left: 60px;
	top: 30px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px 0 #7f8c8d;
}

.left, .right{
	background-color: #f4b350;
	height: 800px;
	width: 40%;
	left: 4%;
    margin: 4% 3%;
}

#middle{	
	height: 600px;
	width: 33%;
	padding: 10px 30px;
}
.sala1, .sala2, .sala3, .sala4{
	height: 600px;
	width: 33%;
	padding: 10px 0;
}

.gRoom, .room,.fRoom, .sRoom,
.fCornerRoom, .sCornerRoom, 
.fCRoom, .sCRoom, .sRoom5, .sRoom6, .lab,
.fRoom8, .biblioteca, .empty,
.gFacility, .fFacility, .sFacility,
.gSalinha, .fSalinha, .sSalinha{
	background-color: #e67e22;
	padding: 2%;
	border: 1px solid #EB974E;
	display: flex;
	align-items: center;
	justify-content: center;
}

.gRoom, .room,.fRoom, .sRoom{
	height: 69px;
}
.gFacility, .fFacility, .sFacility, .fCornerRoom, .sCornerRoom{
	height: 120px;
}
.fCRoom{
	height: 124px;
}
.sCRoom{
	height: 155px;
}
.sRoom5{
	height: 124px;
} 
.sRoom6, .lab{
	height: 103.2px;
}
.fRoom8{
	height: 77.6px;
}
.biblioteca{
	height: 620px;
}
.empty{
	background-color: #f4b350;
	height: 40px;
}
.nothing{
	height: 430px;
}
.rampa, .gSalinha, .fSalinha, .sSalinha{
	height: 60px;
}
.pagination {
  border-radius: 0px;
}
.pagination > li {
  display: block;
  text-align: center;
}
.pagination > li > a,
.pagination > li > span {
	width: 42px;
  background-color: transparent;
  border:none;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#nav{
	width: auto;
    left: 2%;
    top: 700px;
}
.usedroom{
	background-color: #e74c3c;
}
.emptyroom{
	background-color: #27ae60;
}
.leftC, .rightC{
	background-color: #f4b350;
	height: 750px;
	width: 83%;
	left: 4%;
    margin: 4% 3%;
}
.carousel-control.right {
    right: -30px;
}
.carousel-control.left {
    left: -30px;
}
.carousel-control.left, .carousel-control.right {
    background:none;
    background-image: none;
    width: 6%;
    height: auto;
}
section p{
	color: #ecf0f1;
	text-align: center;
}
#modalAula .modal-dialog, #modalPesquisa .modal-dialog{
	width: 70%;
}
#modalAula .table, #modalPesquisa .table{
	margin: auto;
	width: 70%;
}
#modalColegiado .container{
	width: 100%;
}
#modalColegiado p{
	color: black;
	text-align: left;
}
#signed{
	text-align: right;
    position: relative;
    top: 35px;
	/*left: 280px;*/
	color: white;
}
#btnSigned{
	background-color: #3498db;
}
#signed p{

	display: inline-block;
    padding-right: 15px;
}
.dropdown-menu {
    /*left: -79px;*/
    width: 120px;
}
.form-group{
	width: fit-content;
}
<<<<<<< HEAD

.msgError{
	text-align: center; 
	background-color: #FAA; 
	border-radius: 5px; 
	border: 1px solid #F55; 
	color: white; 
	margin: 10px; 
	display: none;
=======
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    margin-top: 6px;
    margin-left: 4px;
}
.checkLabel{
	margin-right: 60px;
}
.teacher, .discipline{
	font-size: large;
}
.dash{
	border-style: inset;
    border-width: 1px;
>>>>>>> cd8a8aa3454ae295b972a397e73132152cbd8f8f
}