body{
	background-color: #59abe3;
}

header h1{
	text-align: center;
	font-size: 50px;
	color: #3A539B;
}

section{
	height: 1000px;
	position: relative;
}

section #main{
	background-color: #ecf0f1;
	width: 90%;
	height: 900px;
	position: absolute;
	left: 60px;
	top: 30px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px 0 #7f8c8d;
}

.left, .right{
	background-color: #f4b350;
	height: 750px;
	width: 40%;
	left: 4%;
    margin: 4% 3%;
}
.left img{
	height: 600px;
	position: relative;
	z-index: -1;
	display: none;
}
.left div{
	position: relative;
	z-index: 100;
}
#middle{	
	height: 600px;
	width: 33%;
}
.sala1, .sala2, .sala3, .sala4{
	height: 600px;
	width: 33%;
	padding: 10px 0;
}

.gRoom, .room,.fRoom{
	background-color: blue;
	padding: 2%;
	height: 64.5px;
	border: 1px solid #ddd;
}
.facility, .fCornerRoom, .sCornerRoom{
	background-color: green;
	padding: 2%;
	height: 120px;
	border: 1px solid #ddd;
}
.fCRoom{
	background-color: red;
	padding: 2%;
	height: 116px;
	border: 1px solid #ddd;
}
.sCRoom{
	background-color: pink;
	padding: 2%;
	height: 145px;
	border: 1px solid #ddd;
}
.sRoom, .lab{
	background-color: blue;
	padding: 2%;
	height: 96.8px;
	border: 1px solid #ddd;
}
.biblioteca{
	background-color: blue;
	padding: 2%;
	height: 580px;
	border: 1px solid #ddd;
}
.empty{
	background-color: #f4b350;
	height: 30px;
	border: 1px solid #ddd;
}


.pagination {
  border-radius: 0px;
}
.pagination > li {
  display: block;
  text-align: center;
}
.pagination > li > a,
.pagination > li > span {
	width: 42px;
  background-color: transparent;
  border:none;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#nav{
	width: auto;
    left: 2%;
    top: 540px;
}
.usedroom{
	background-color: red;
}
.emptyroom{
	background-color: green;
}
