body{
	background-color: #59abe3;
}

header h1{
	text-align: center;
	font-size: 50px;
	color: #3A539B;
}

section{
	height: 1000px;
	position: relative;
}

section #main{
	background-color: #ecf0f1;
	width: 90%;
	height: 900px;
	position: absolute;
	left: 60px;
	top: 30px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px 0 #7f8c8d;
}

.left, .right{
	background-color: #f4b350;
	height: 750px;
	width: 40%;
	left: 4%;
    margin: 4% 3%;
}

#middle{	
	height: 600px;
	width: 33%;
	padding: 10px 30px;
}
.sala1, .sala2, .sala3, .sala4{
	height: 600px;
	width: 33%;
	padding: 10px 0;
}

.gRoom, .room,.fRoom, .sRoom,
.fCornerRoom, .sCornerRoom, 
.fCRoom, .sCRoom, .sRoom6, .lab,
.fRoom8, .biblioteca, .empty,
.gFacility, .fFacility, .sFacility,
.gSalinha, .fSalinha, .sSalinha{
	background-color: #e67e22;
	padding: 2%;
	border: 1px solid #EB974E;
	display: flex;
	align-items: center;
	justify-content: center;
}

.gRoom, .room,.fRoom, .sRoom{
	height: 64.5px;
}
.gFacility, .fFacility, .sFacility, .fCornerRoom, .sCornerRoom{
	height: 120px;
}
.fCRoom{
	height: 116px;
}
.sCRoom{
	height: 145px;
}
.sRoom6, .lab{
	height: 96.8px;
}
.fRoom8{
	height: 72.5px;
}
.biblioteca{
	height: 580px;
}
.empty{
	background-color: #f4b350;
	height: 30px;
}
.nothing{
	height: 430px;
}
.rampa, .gSalinha, .fSalinha, .sSalinha{
	height: 60px;
}
.pagination {
  border-radius: 0px;
}
.pagination > li {
  display: block;
  text-align: center;
}
.pagination > li > a,
.pagination > li > span {
	width: 42px;
  background-color: transparent;
  border:none;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#nav{
	width: auto;
    left: 2%;
    top: 648px;
}
.usedroom{
	background-color: red;
}
.emptyroom{
	background-color: green;
}
.leftC, .rightC{
	background-color: #f4b350;
	height: 750px;
	width: 83%;
	left: 4%;
    margin: 4% 3%;
}
.carousel-control.right {
    right: -30px;
}
.carousel-control.left {
    left: -30px;
}
.carousel-control.left, .carousel-control.right {
    background:none;
    background-image: none;
    width: 6%;
    height: auto;
}
p{
	color: #ecf0f1;
	text-align: center;
}

